
/* Body
========================================================================== */

body { margin: 0px; padding: 0px; font-size: 20px; font-weight: normal; }
body { font-family: OpenSans; background-color: #ffffff; color: #2e154f; } 


/* Cab
========================================================================== */

.cab { width: 100%; height: 60px; background-color: #2e154f; display: block; } 


/* Logo
========================================================================== */

.logo { display: inline-block; width: 210px; height: 60px; float: right; } 
.logo { position: relative; top: 0px; right: 0px; background-color: #420a77; } 
.logo { color: #ffffff; text-decoration: none; font-size: 35px; } 
.logo { text-align: center; line-height: 55px; } 

.logo:hover { background-color: #62329f; } 


/* Presentacion
========================================================================== */

/* Dimension de la presentacion */
.pre { width: 100%; height: 100%; display: table; } 

/* Fondo */
.pre { background-color: #62329f; } 
.pre { background: url("../img/bg.jpg") no-repeat; background-size: cover; } 

/* Celda */
.pre-cell { display: table-cell; vertical-align: middle; }

/* Headers */
.pre-h1 { color: #ffffff; font-size: 60px; text-decoration: none; } 
.pre-h2 { color: #ffffff; font-size: 24px; text-decoration: none; font-weight: 300; } 

.pre-logo { display: block; width: 100px; height: 100px; } 
.pre-logo { background-size: 100px 100px; } 
.pre-logo { background-image: url('../img/logo_white.png'); } 
.pre-logo { background-repeat: no-repeat; } 

.pre-btn { display: block; width: 250px; height: 50px; } 
.pre-btn { border: 2px solid #ffffff; border-radius: 5px; } 
.pre-btn { font-size: 20px; line-height: 47px; text-align: center; } 
.pre-btn { text-decoration: none; } 
.pre-btn { color: #ffffff; background-color: transparent; } 

.pre-btn:hover { color: #62329f; background-color: #ffffff; } 


/* Pie
========================================================================== */

/* Dimension */
.pie { display: block; width: 100%; } 

/* Fondo */
.pie { background-color: #fafafa; } 

/* Texto del pie */
.pie { font-size: 16px; color: #96a4a5; }  

/* Texto */
.pie-text { color: #96a4a5; text-decoration: none; font-weight: bold; } 

   



