
/* Body
========================================================================== */

body { margin: 0px; padding: 0px; font-size: 20px; font-weight: normal; }
body { font-family: OpenSans; background-color: #ffffff; color: #2e154f; } 


/* Cab
========================================================================== */

.cab { width: 100%; height: 60px; background-color: #2e154f; display: block; } 


/* Logo
========================================================================== */

.logo { display: inline-block; width: 210px; height: 60px; float: right; } 
.logo { position: relative; top: 0px; right: 0px; background-color: #420a77; } 
.logo { color: #ffffff; text-decoration: none; font-size: 35px; } 
.logo { text-align: center; line-height: 55px; } 

.logo:hover { background-color: #62329f; } 


/* Presentacion
========================================================================== */

.presentacion { width: 100%; height: 500px; display: table; } 
.presentacion { vertical-align: middle; background-color: #62329f; } 

.presentacion-h1 { color: #ffffff; font-size: 80px; } 
.presentacion-h2 { color: #ffffff; font-size: 30px; } 

.presentacion-btn { display: block; width: 350px; height: 70px; } 
.presentacion-btn { border: 1px; border-color: #ffffff; border-style: solid; } 
.presentacion-btn { font-size: 27px; line-height: 64px; text-align: center; } 
.presentacion-btn { text-decoration: none; } 
.presentacion-btn { color: #ffffff; background-color: transparent; } 

.presentacion-btn:hover { color: #62329f; background-color: #ffffff; } 



/* Pie
========================================================================== */

.pie { display: block; width: 950px; margin-left: auto; margin-right: auto; } 
.pie { border-top: 1px; border-top-color: #2e154f; border-top-style: solid; } 
.pie { font-size: 17px; opacity: 0.5; } 

   



